@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensures elements stay at their initial state (opacity: 0) before the animation starts, crucial for staggered entry */
.animate-fade-in-up,
.animate-fade-in-down,
.animate-fade-in,
.animate-fade-in-fast {
  animation-fill-mode: both;
}
